<div class="login-wrapper">
  <form class="login">
      <label class="title">
          <h3 class="welcome">Welcome to</h3>
          Angular with Clarity
          <h5 class="hint"> Sign in or create one now</h5>
      </label>
      <div class="login-group">
          <input class="username" type="text" [(ngModel)]="email" placeholder="email" [ngModelOptions]="{standalone: true}">
          <input class="password" type="password" [(ngModel)]="password" placeholder="password" [ngModelOptions]="{standalone: true}">
          <div class="error active"  *ngIf="errorMsg">
              {{ errorMsg }}
          </div>
          <button  class="btn btn-primary" (click)="login()" [disabled]="!email || !password">
            Log in
          </button>
            <button type="buton" class="btn btn-primary" (click)="signInWithFacebook()">
              <i class="fa fa-facebook" aria-hidden="true"></i> 
              Login with Facebook
            </button>

            <button type="button" class="btn btn-success" (click)="signInWithGitHub()">
              <i class="fa fa-github" aria-hidden="true"></i>
              Login with Github
            </button>

            <button type="button" class="btn btn-danger" (click)="signInWithGoogle()">
              <i class="fa fa-google" aria-hidden="true"></i>
              Login with Google
            </button>  
            <button class="btn btn-warning signup" (click)="signup()" [disabled]="!email || !password">Sign up here</button>
      </div>
  </form>
</div>
