<div class="crop" 
    [style.width.px]="starWidth"
    [title]="rating" (click)="onClick()">
    <div fxLayout="row">
        <img src="http://homepages.neiu.edu/~knorris1/Project2/images/star.png" />
        <img src="http://homepages.neiu.edu/~knorris1/Project2/images/star.png" />
        <img src="http://homepages.neiu.edu/~knorris1/Project2/images/star.png" />
        <img src="http://homepages.neiu.edu/~knorris1/Project2/images/star.png" />
        <img src="http://homepages.neiu.edu/~knorris1/Project2/images/star.png" />
    </div>
</div>
